:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(229, 125, 198);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: linear-gradient(135deg, #ff009d, #a70053);
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 22px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 105, 180, 0.3);
}
button:hover {
  background-color: black;
  box-shadow: 0 6px 14px rgba(239, 239, 239, 0.4);
  transform: translateY(-2px);
}

input {
  background-color: rgb(255, 198, 244);
  color: black;
  width: 280px;
  padding: 12px 16px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 25px;
}
input::placeholder {
  color: #aaa;
  transition: color 0.3s;
}
input:focus {
  border-color: #ff0492;
  box-shadow: 8px 8px 8px rgba(145, 1, 102, 0.4);
  background-color: #fff8fd;
}
